<footer class="page-footer font-small blue pt-4 mt-4 backColGray">

    <!--Footer Links-->
    <div class="container-fluid text-center text-md-left">
        <div class="row">
                
            <!--First column-->
            <div class="col-md-6">
                <h3 class="text-uppercase" style="padding-left: 4px; font-weight: 700">{{resource.footer.contatti}}</h3>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <h2 style="padding-left: 25px;">{{resource.footer.gp_srl}}</h2>
                            <p style="padding-left: 25px;"></p>
                        </div>
                        <div class="row">
                            <h5 style="padding-left: 25px; font-weight: 700">{{resource.footer.sede_locali}}:</h5>
                        </div>
                        <div class="row">
                            <p style="padding-left: 25px; margin-bottom: 5px;">{{resource.footer.gp_indirizzo_lg}}</p>
                        </div>
                        <br>

                        <div class="row">
                            <h5 style="padding-left: 25px; font-weight: 700">{{resource.footer.sede_operativa}}:</h5>
                        </div>
                        <div class="row">
                            <p style="padding-left: 25px; margin-bottom: 5px;">{{resource.footer.gp_indirizzo_op}}</p>
                        </div>
                        <div class="row">   
                            <p style="padding-left: 25px;">{{resource.footer.gp_phone}}</p>
                        </div>
                        
                    
                    </div>

                   
    
                </div>
                
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-6">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                    <li><a routerLink="/page1">Go to Page1</a></li>
                    <li><a routerLink="/page2">Go to Page2</a></li>
                    <li><a routerLink="/page3">Go to Page3</a></li>
                    <li><a routerLink="/wwu">Go to wwu</a></li>
                </ul>
            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        © 2018 {{resource.footer.gp_srl}} | {{resource.footer.gp_piva}} |
    </div>
    <!--/.Copyright-->

</footer>

