<footer class="page-footer font-small blue pt-4 mt-4" style="height: 50%; position:relative; top:362px; background-color: #388e3c">

    <!--Footer Links-->
    <div class="container-fluid text-center text-md-left">
        <div class="row">
                
            <!--First column-->
            <div class="col-md-6">
                <div class="row ">
                    <div class="col ">
                        <div class="row">
                            <h6 class="text-uppercase" style="padding-left: 25px; font-size: 85%; color: #E0E0E0">{{resource.footer.contatti}}</h6>
                        </div>
                        <div class="row">
                            <i class="material-icons" style=" color: #E0E0E0 ; padding-left: 25px;margin-bottom: 8px; margin-right: 2px;">phone</i>
                            <div class="col" style="padding-top: 3px;">
                                <p style="color: #E0E0E0; font-size: 85%; margin-bottom: 6px;">{{resource.footer.gp_phone}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <i class="material-icons" style="color: #E0E0E0 ; padding-left: 25px; margin-bottom: 8px; margin-right: 2px;">mail</i>
                          <div class="col" style="padding-top: 3px;">
                            <p style=" color: #E0E0E0; font-size: 85%; margin-bottom: 15px;">{{resource.footer.gp_email}}</p>
                          </div>  
    
                        </div>
                    </div>
                </div>  
            </div>
            <!--/.First column-->

            <!--Second column
            <div class="col-md-6">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                    <li><a routerLink="/page1">Go to Page1</a></li>
                    <li><a routerLink="/page2">Go to Page2</a></li>
                    <li><a routerLink="/page3">Go to Page3</a></li>
                    <li><a routerLink="/wwu">Go to wwu</a></li>
                </ul>
            </div> -->
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center" style="color: #f5f5f5;">
        © 2018 {{resource.footer.gp_srl}} | {{resource.footer.gp_piva}} | {{resource.footer.sede_legale}}: {{resource.footer.gp_indirizzo_lg}} | {{resource.footer.sede_operativa}}: {{resource.footer.gp_indirizzo_op}}
    </div>
    <!--/.Copyright-->

</footer>

