<div class="navSpan"></div>

<div class="container">

  <div class="row">
    

      <div class="col-6">

        <div class="row justify-content-start">
          <div class="col">
            <h2 style="padding-top: 76px;">{{resource.wwu.wwu}}</h2>
          </div>
        </div>
       
        <div class="form-group">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="nameStr" id="nameInput" placeholder="{{resource.wwu.name}}" style="max-width: 450px; font-family: mina;">
        </div>
        <div class="form-group">
          <input type="email" class="form-control form-control-sm" [(ngModel)]="emailStr" id="emailInput" placeholder="{{resource.wwu.email}}" style="max-width: 450px; font-family: mina;">
        </div>
        <div class="form-group">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="phoneStr" id="phoneInput" placeholder="{{resource.wwu.phone}}" style="max-width: 450px; font-family: mina;">
        </div>
        <div class="form-group">
          <textarea class="form-control form-control-sm" [(ngModel)]="messageStr" id="messageInput" rows="6" style="max-width: 450px; font-family: mina;"></textarea>
        </div>
        
        <button mat-raised-button color="primary" type="submit" class="btn-w-md marginCanelUpdate" (click)="performFileInput()">{{resource.wwu.load_cv}}</button>
        <input id="fileInput" accept="application/pdf" type="file" name="file" style="display:none;" (change)="fileChangeListener($event)">
        <button mat-raised-button color="primary" (click)='sendMessage()'>{{resource.wwu.send}}</button>

      </div>

      <div class="col-6">

          <div class="box-body" style="overflow-y: scroll; overflow-x: hidden;">
            <br>
            
            <div class="profile-list">
              <div class="xlead xh2">
                 {{resource.wwu.opportunities}}
              </div>
            </div>
            <div class="profile media">
              <div class="col-1 avatar-container pull-left">
                <img class="avatar" src="http://pbs.twimg.com/profile_images/519754609716236288/WEtPI7Z5_normal.jpeg" alt="Front-end developer"> <br>

              </div>

              <div class="row">
                  <div class="col " style="padding-left: 95px; padding-top: 10px;">
                      <strong>{{resource.wwu.job}}</strong>
                  </div>
              </div>

             
         
            </div>

            
              

              
              
          
          </div>
        </div>
      </div>
<!--
        <div class="col-sm-6 contact col-sm-push-6" style="padding-right: 0px; padding-left: 170px;">
          <div class="rcorners">
              <div class="col">
              

                
              
                  <div class="row padding">
                    <div class="col">
                      <img class="pull-left width-100 round" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245018/profile/profile-80.jpg" />
                    </div>
            
                    <div class="col padding-top-15">
                      <h5 class="text-15 text700 pull-left">Front-end developer</h5>
                      
                      <a href="#" class="pull-right label fill-white text-gray">13/03/2018</a>
                    </div>
                  </div>
            
                  <div class="row">
                    <p class="padding -padding-top">
                      Skills: 
                      - Angular 4
                      - Javascript  
                      - Html
                    </p>
                   
                  </div>
            
             
              </div>
          
            
        </div>
      -->
          
        
  </div>
   
  