<div class="navSpan"></div>

<div class="container">

  <div class="row">

      <div class="col-7">

        <div class="row justify-content-start">
          <div class="col">
            <h2 style="padding-top: 76px;">{{resource.wwu.wwu}}</h2>
          </div>
        </div>
       
        <div class="form-group">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="nameStr" id="nameInput" placeholder="Name" style="max-width: 450px;">
        </div>
        <div class="form-group">
          <input type="email" class="form-control form-control-sm" [(ngModel)]="emailStr" id="emailInput" placeholder="Email" style="max-width: 450px;">
        </div>
        <div class="form-group">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="phoneStr" id="phoneInput" placeholder="Phone" style="max-width: 450px;">
        </div>
        <div class="form-group">
          <textarea class="form-control form-control-sm" [(ngModel)]="messageStr" id="messageInput" rows="6" placeholder="Message" style="max-width: 450px;"></textarea>
        </div>
        
        <button mat-raised-button type="submit" class="btn-w-md marginCanelUpdate" style="background-color: #388e3c; color: white"(click)="performFileInput()">{{resource.wwu.load_cv}}</button>
        <input id="fileInput" accept="application/pdf" type="file" name="file" style="display:none;" (change)="fileChangeListener($event)">
        <button mat-raised-button style="background-color: #388e3c; color: white" (click)='sendMessage()'>{{resource.wwu.send}}</button>

      </div>

      <div class="col-5">

        <div class="row justify-content-start">
          <div class="col">
            <h2 style="padding-top: 76px;">[Opportunities]</h2>
          </div>
        </div>

        <div id="accordion">
          <div *ngFor="let el of opportunitiesSample; let i=index" class="card transparent-card">
            <div class="card-header transparent-card-header" id="headingEl">
              <a class="btn-header" data-toggle="collapse" data-target="#collapseEl" aria-expanded="false" aria-controls="#collapseEl">
                <h5 class="text-header">{{el["title"]}}</h5>
              </a>
            </div>
        
            <div id="collapseEl" class="collapse show" aria-labelledby="headingEl" data-parent="#accordion">
              <div class="card-body" style="padding-top: 6px;">
                <div *ngFor="let skill of el.skills; let j=index" class="row">
                  <div class="col"><label>{{skill}}</label></div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

  </div>
          
        
  </div>
   
  