<div class="navSpan"></div>

<div class="container">
  <div class="row">
      <div class="col-sm-6 contact col-sm-push-6" style="padding-right: 0px; padding-left: 170px;">
        
        <div class="row" >
          <h2 style="padding-top: 76px; padding-left: 15px;">[Lavora con noi]</h2>
          <span class="divider divider-md"></span>
        </div>

          <input style="margin-bottom: 8px; border-radius: 7px;" type="text"  value="" size="40" aria-required="true" aria-invalid="false" placeholder="Nome" />
        
          <input style="margin-bottom: 8px; border-radius: 7px;" type="text"  value="" size="40" aria-required="true" aria-invalid="false" placeholder="Email" />

          <input type="text" style="margin-bottom: 8px; border-radius: 7px;"  value="" size="40" aria-required="true" aria-invalid="false" placeholder="Telefono"/>
      
          <textarea style="border-radius: 7px;" name="your-message" cols="42" rows="10" placeholder="Messaggio"></textarea>
          <br>
         
          <button mat-raised-button color="primary" type="submit" class="btn-w-md marginCanelUpdate" (click)="performFileInput()">Load your CV</button>

          <input id="fileInput" accept="application/pdf"
          type="file" name="file" style="display:none;"
          (change)="fileChangeListener($event)">

          <span class="space"></span>

          <button mat-raised-button color="primary" (click)='sendMessage()'>invia!</button>
        </div>


        <div class="col-6" >
          <div class="box-body" style="overflow-y: scroll; overflow-x: hidden;">
            <br>
            
            <div class="profile-list">
              <div class="xlead xh2">
                OPPORTUNITIES 
              </div>
            </div>
            <div class="profile media">
              <div class="col-1 avatar-container pull-left">
                <img class="avatar" src="http://pbs.twimg.com/profile_images/519754609716236288/WEtPI7Z5_normal.jpeg" alt="Front-end developer"> <br>

              </div>

              <div class="row">
                  <div class="col " style="padding-left: 95px; padding-top: 10px;">
                      <strong>Front-end developer</strong>
                  </div>
              </div>

             
         
            </div>

            
              

              
              
          
          </div>
        </div>
<!--
        <div class="col-sm-6 contact col-sm-push-6" style="padding-right: 0px; padding-left: 170px;">
          <div class="rcorners">
              <div class="col">
              

                
              
                  <div class="row padding">
                    <div class="col">
                      <img class="pull-left width-100 round" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245018/profile/profile-80.jpg" />
                    </div>
            
                    <div class="col padding-top-15">
                      <h5 class="text-15 text700 pull-left">Front-end developer</h5>
                      
                      <a href="#" class="pull-right label fill-white text-gray">13/03/2018</a>
                    </div>
                  </div>
            
                  <div class="row">
                    <p class="padding -padding-top">
                      Skills: 
                      - Angular 4
                      - Javascript  
                      - Html
                    </p>
                   
                  </div>
            
             
              </div>
          
            
        </div>
      -->
      </div>
          
        
  </div>
   
  