<div class="navSpan"></div>

<div class="row">
  <div class="col-4 user-image"> 
    <img height="140" width="140" src="../../assets/user.png"> 
    <label>Nome Cognome</label>
  </div>
  <div class="col-4 user-image"> <img height="140" width="140" src="../../assets/user.png"> </div>
  <div class="col-4 user-image"> <img height="140" width="140" src="../../assets/user.png"> </div>
</div>

<div class="row">
  <div class="col-4 user-image"> <img height="140" width="140" src="../../assets/user.png"> </div>
  <div class="col-4 user-image"> <img height="140" width="140" src="../../assets/user.png"> </div>
  <div class="col-4 user-image"> <img height="140" width="140" src="../../assets/user.png"> </div>
</div>

<div class="row">
  <div class="col-4 user-image"> <img height="140" width="140" src="../../assets/user.png"> </div>
  <div class="col-4 user-image"> <img height="140" width="140" src="../../assets/user.png"> </div>
  <div class="col-4 user-image"> <img height="140" width="140" src="../../assets/user.png"> </div>
</div>