/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.min.css"; */
/* @import "~font-awesome/css/font-awesome.css"; */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


p, label, h1, h2, h3, h4, h5, h6, a, b, span {
    font-family: 'Mina', sans-serif !important;
}

.full-width {
    width: 100%;
}

.rcorners {
    border-radius: 25px;
    border: 2px  solid #1c1c1c;
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #E0E0E0;
}

.transparent-card {
    background-color: transparent !important;
    border: transparent !important;
}

.transparent-card-header {
    background-color: transparent !important;
    border: transparent !important;
}

.btn-header {
    color: #333333 !important;
    background-color: transparent;
    border: transparent !important;
    cursor: pointer;
}

.btn-header :hover {
    color: #E0E0E0 !important;
    background-color: transparent;
    text-decoration: unset !important;
    border: transparent !important;
    cursor: pointer;
}

.form-control {
    font-family: mina !important;
    font-size: 150%;
}

nav {
    /* display: block !important; */
    position: absolute !important;
    top: 0;
    width: 100% !important;
    height: 100px !important;
    background-color: #388E3C !important;
    padding: 0px 22px !important;
    z-index: 1;
}

.navSpan {
    margin-top: 100px !important;
}

.mainLogo {
    font-family: 'Poppins', sans-serif !important;
    font-size: 40px !important;
    font-weight: 500;
    color: #E0E0E0;
    margin: 0 !important;
    padding: 15px 0px !important;
}

.it{
    font-family: 'Poppins', sans-serif !important;
    font-size: 18px !important;
    font-weight: 500;
    color: #E0E0E0;
    position: absolute;
    margin-top: 35px;
    margin-left: 154px;
    padding: 15px 0px !important;
}

.pattern {
    position: relative;
    min-height: 100%;
    min-height: -moz-available;          /* WebKit-based browsers will ignore this. */
    /*min-height: -webkit-fill-available;*/  /* Mozilla-based browsers will ignore this. */
    /*min-height: fill-available;*/
}

#circular1 {
    background-color:#8BC34A;
    background-image:
    radial-gradient(#388E3C 32%, transparent 30%),
    radial-gradient(#388E3C 32%, transparent 30%);
    background-size:22px 22px;
    background-position: 0 0, 0px 0px;
}

#circular2 {
    background-color:#C6FF00;
    background-image:
    radial-gradient(#AEEA00 25%, transparent 28%),
    radial-gradient(#AEEA00 25%, transparent 28%);
    background-size:8px 8px;
    background-position: 0 0, 4px 4px;
}

.colBlack {
    color: #333333 !important;
}

.colWhite {
    color:white !important;
}

.colGreen {
    color:#388E3C !important;
}

.colRed {
    color:#990416 !important;
}

.colBlue {
    color: #0080b2 !important;
}

.colPurple {
    color: #D8367E !important;
}

.colYellow {
    color: #ff9900 !important;
}

.colGray {
    color: darkgray !important;
}

.colSilver {
    color: #E0E0E0 !important;
}

.backColBlack {
    background-color: #333333 !important;
}

.backColWhite {
    background-color:white !important;
}

.backColRed {
    background-color:#990416 !important;
}

.backColBlue {
    background-color: #0080b2 !important;
}

.backColPurple {
    background-color: #D8367E !important;
}

.backColYellow {
    background-color: #ff9900 !important;
}

.backColGray {
    background-color: darkgray !important;
}

.backColGreen1 {
    /* background-color: #319B1C; */
    background-color: #388E3C !important;
}

.backColGreen2 {
    /* background-color: #75C11C; */
    background-color: #8BC34A !important;
}

.footer{
    position: absolute;
    width: 100%;
    text-align: right;
    margin-bottom: 0px;
    bottom: 0px;
    left:0px;
    top:0px;
    padding: 25px;
}


